@import 'variables';

.ProductDetails {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: auto 45% 45% auto;
    grid-template-rows: 100%;
    grid-auto-flow: column;
}

.ProductDetails__image-container {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 2;
}

.ProductDetails__image-container .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 0 0 8px 8px;
}

.ProductDetails__image-container .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 42px;
    cursor: pointer;
}

.ProductDetails__info-container {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: white;
    border-radius: 0 0 10px 10px;
    z-index: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.ProductDetails__info-container .price {
    font-weight: bold;
    font-size: $md;
    margin: 16px 14px;
}

.ProductDetails__info-container .title {
    height: 40px;
    color: $very-light-pink;
    font-size: $md;
    margin: 0 15px 14px;
}

.ProductDetails__info-container .description {
    height: 106px;
    font-weight: bold;
    color: $very-light-pink;
    font-size: $sm;
    margin: 0 15px 14px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: scroll;
    padding-right: 4px;
}

.ProductDetails__info-container .primary-button {
    background-color: $hospital-green;
    border-radius: 8px;
    border: none;
    color: $white;
    width: 100%;
    cursor: pointer;
    font-size: $md;
    font-weight: bold;
    height: 40px;
}

.ProductDetails__info-container .primary-button img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 30px;
    bottom: 5px;
}

.ProductDetails__info-container .add-to-cart-button {
    position: relative;
}

@media (max-width: 720px) {
    .primary-button img {
        display: none;
    }
}
@media (max-width: 740px) {
    .ProductDetails {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 240px);
    }
    .ProductDetails__image-container {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .ProductDetails__info-container {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .ProductDetails__image-container .close {
        right: 8px;
    }
    .ProductDetails__info-container .description {
        height: 80px;
    }
}
