.skeleton {
    display: flex;
    width: 240px;
    height: 336px;
    flex-direction: column;
    position: relative;
}
.skeleton .skeleton-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.skeleton .left-col {
    width: 100%;
    height: 240px;
}
.skeleton .left-col span {
    border-radius: 20px;
}
.skeleton .avatar {
    width: 36px;
    height: 36px;
    background-color: #eaeaea;
    border-radius: 50%;
    position: absolute;
    left: 85%;
    bottom: 24px;
}
.skeleton .avatar-skeleton {
    width: 100%;
    height: 100%;
    position: relative;
}

.skeleton .avatar img {
    width: 100%;
    height: 100%;
}
.skeleton .right-col {
    width: 200px;
    height: 72px;
    margin-top: 12px;
}
.skeleton p {
    font-size: 1.3rem;
    margin: 0;
}
.skeleton p:first-child {
    margin-bottom: 4px;
    height: 20px;
    width: 66px;
}
.skeleton p:nth-child(2) {
    width: 180px;
    height: 26px;
}

@media (max-width: 640px) {
    .skeleton {
        width: 162px;
        height: auto;
    }
    .skeleton .left-col {
        width: 100%;
        height: 140px;
    }
    .skeleton .right-col {
        width: 100px;
        height: 80px;
    }
    .skeleton .avatar {
        bottom: 19px;
        left: 127px;
    }
    .skeleton p:nth-child(2) {
        width: 100px;
        height: 30px;
    }
}
