@use 'variables';

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid variables.$very-light-pink;
    position: sticky;
    top: 0;
    width: calc(100% - 3em);
    background-color: variables.$white;
    z-index: 100;
}
.menu {
    display: none;
}
.nav-logo {
    width: 100px;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    height: 60px;
    cursor: pointer;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li button,
.navbar-right ul li button {
    text-decoration: none;
    color: variables.$very-light-pink;
    border: 1px solid variables.$white;
    padding: 8px;
    border-radius: 8px;
    background-color: variables.$white;
    font-size: variables.$md;
    cursor: pointer;
}
.navbar-left ul li button:hover,
.navbar-right ul li button:hover {
    border: 1px solid variables.$hospital-green;
    color: variables.$hospital-green;
}
.navbar-email {
    color: variables.$very-light-pink;
    font-size: variables.$sm;
    margin-right: 12px;
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: variables.$hospital-green;
    border-radius: 50%;
    font-size: variables.$sm;
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .menu {
    cursor: pointer;
}

@media (max-width: 740px) {
    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
}
