@use 'variables';

.ProductItem {
	width: 240px;
}
.ProductItem img {
    width: 240px;
	height: 240px;
	border-radius: 20px;
	object-fit: cover;
    cursor: pointer;
}
.product-info {
    display: grid;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
    grid-template-columns: auto 35px;
    height: 80px;
}
.product-info figure {
	margin: 0;
    justify-self: center;
    align-self: center;
}
.product-info figure img {
	width: 35px;
	height: 35px;
    cursor: pointer;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
	font-size: variables.$md;
	margin-top: 0;
	margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
	height: 48px;
    font-size: variables.$sm;
	margin-top: 0;
	margin-bottom: 0;
	color: variables.$very-light-pink;
	min-width: 100px;
}
@media (max-width: 640px) {
	.ProductItem {
		width: 140px;
	}
	.ProductItem img {
		width: 140px;
		height: 140px;
	}
	.product-info {
		grid-template-columns: 100px 35px;
	}
}
