@use 'variables';

.ProductInfo {
    margin: 24px 24px 0 24px;
}
.ProductInfo>div>p:nth-child(1) {
    font-weight: bold;
    font-size: styles.$md;
    margin-top: 0;
    margin-bottom: 4px;
}
.ProductInfo>div>p:nth-child(2) {
    color: styles.$very-light-pink;
    font-size: styles.$md;
    margin-top: 0;
    margin-bottom: 36px;
}
.primary-button {
    background-color: styles.$hospital-green;
    border-radius: 8px;
    border: none;
    color: styles.$white;
    width: 100%;
    cursor: pointer;
    font-size: styles.$md;
    font-weight: bold;
    height: 50px;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
